<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='css/table.css') }}" />
    <script src="/static/js/table.js" defer></script>
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>

    <meta charset=utf-8 />
    <title>DataTables - JS Bin</title>
  </head>
  <body>
    <div class="container">
      <table id="coinTable" class="display nowrap" width="100%">
        <thead>
          <tr>
            <th>product_key</th>
            <th>machine_code</th>
            <th>process_time</th>
            <th>start_time</th>
            <th>end_time</th>
            <th>product_test</th>
            <th>product_size_l</th>
            <th>product_size_w</th>
            <th>product_size_h</th>
          </tr>
        </thead>
      </table>
    </div>
  </body>
</html>